@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

$font: 'Roboto', sans-serif;
$barColor : #6c757d;

body {

    width: 100vw;
    min-height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    overflow-x: hidden;
}

.visible {
    opacity: 1;
}

#barre  {
    width: 1px;
    height: 0%;
    background-color: $barColor;
    position: fixed;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);


    @media (max-width: 1285px) {
        left: 1%;
        width: 2px;
        color: $barColor;
    }
}

.presentationPage {

    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .text.left {
        text-align:right;
    }
    .text {
       width: 400px;
       height: 720px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       margin: 50px;
       position: relative;
       bottom: 50px;
       

       p {
           font-family: $font;
           letter-spacing: 11px;
           font-weight: 500;
           font-size: 18px;
           color: #423A38;

           strong {
               font-weight: 800;
               color: black;
           }
           span {
               font-size: 36px;
           }
       }
    }

    @media (max-width: 970px) {

        flex-direction: column;
        align-items: center;
        height: 1000px;

        .text {
            width: 90%;
            height: 400px;
            
            p {
                letter-spacing: 5px;
                font-size: 17px;
            }
            
        
    }

    @media (max-width: 500px) {

        height: 1000px;

        .text {
            height: 500px;

            p {
                font-size: 17px;
            }
        }

    }

    @media (max-width: 400px) {

        height: 1300px;

        .text {
            height: 500px;

            p {
                font-size: 17px;
            }
        }

    }
}
}
section {

    .barreVertical {
        width: 80vw;
        height: 1px;
        background-color: $barColor;
        margin: auto;
        @media (max-width: 350px) {
            width: 90vw;
        }

    }

    .intro {
        width: 80vw;
        display: flex;
        justify-content: space-between;
        margin: auto;
        
        h1 {
            font-family: $font;

            @media (max-width: 430px) {
                font-size: 15px;
            }
        }

        @media (max-width: 350px) {
            width: 90vw;
        }
        
    }

    .cards {
        width: 80vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;
        
        @media (max-width: 350px) {

            width: 90vw;
            
        }
       

        .card {
            width: 40%;
            height: auto;
            border: 1px solid grey;
            position: relative;
            margin: 50px;
            overflow: hidden;
            
            img {
                width: 100%;
                height: 100%;
                transition: all 0.1s ease-in-out;
            }

            

            @media (max-width: 1280px) {

                width: 80%;

            }

            @media (max-width: 600px) {
                width: 100%;
                margin: 0;
                margin-bottom: 50px;
            }


            &:hover img {
                filter: blur(15px);
            }
        }
    }

}

.links {

    width: 80vw; 
    display: flex;
    justify-content: space-between;
    // border: 1px solid red;
    margin: auto;
    margin-bottom: 50px;
    


    a {
        font-family: $font;
        font-size: 25px;
        color: black;
        text-decoration: none;
    }

    @media (max-width: 700px) {

        flex-direction: column;
        height: 200px;

    }
}
